<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WGU_C969_AM.Properties.Settings.U04LvoConnectionString"
            connectionString="server=52.206.157.109;user id=U04Lvo;database=U04Lvo;password=53688274279;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>